body {
  margin: 0;
  padding: 0;

  overflow: hidden;
}

#scene {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid black;
}

#object {
  display: block;
  width: 160px;
  height: 120px;

  background: green;
}

#transform {
  padding: 15px;
}
